<html>
	<body>
		
	<div class="social_media_image">
		<img src="http://sr.photos2.fotosearch.com/bthumb/CSP/CSP793/k7936382.jpg" alt="social_media"></div>

	<div class="about_welcome">
		<h1>Welcome to Clucker!</h1></div>

	<div class="about_tagline"
		<p>The fastest way to tell your world what is on your mind. Clucker allows you to stay connected with friends, family and even your favorite public figures. Real time updates provide you and your closest friends the fastest way to stay in contact.</p></div>


		

