<html> 
	<body>

<div class="index_background">
	<body background="http://www.washingtonpost.com/blogs/going-out-guide/files/2013/05/HillCountryBackyardBBQ-005.jpg"></div>
<div class="slogan">
	<p>Tell your world what you think</p>
	</div>
<div class="description">
	<center><p>Connect with friends and family in real time. Keep your whole world updated within seconds and stay in the know.</p>
	</center></div>

<div class="login">
		<p>Username<input></input>
		<p>Password<input></input></p>

		</div>	
	