<html> 
	<body>
		<input type="button" value="Login">
		<div style="clear: both;"></div>
<div class="image">
	<center><img src="http://sweetclipart.com/multisite/sweetclipart/files/bird_blue_cute.png" alt="cluck cluck" width="375" height="367"></center>
	<center><h2>Cluck your heart out!<br /></h2><center>
	</div>
	<p>Tell your world what you think!</p>
	<ul>
		<li>Tell your friends what you are doing today<li><li>Share your dessert from your dinner date<li>
	</ul>
	