<html> 
	<body>
		
<div class="image">
	<img src="http://sweetclipart.com/multisite/sweetclipart/files/bird_blue_cute.png" alt="cluck cluck" width="375" height="367">
	<h2>Cluck your heart out!<br /></h2>
	</div>
	<p>Tell your world what you think!</p>
	<ul>
		<li>Tell your friends what you are doing today<li><li>Share your dessert from your dinner date<li>
	</ul>
	