<html> 
	<body>
	<p align="right"><h3><menu><a href="main/about">About</a> <a href="main/signup">Sign Up</a> <a href="main/media">Media</a> <a href="main/contact"> Contact</a> <a href="main/help">Help</a></menu></h3></p>
	<h1>Clucker</h1>
	<img src="http://sweetclipart.com/multisite/sweetclipart/files/bird_blue_cute.png" alt="cluck cluck" width="375" height="367">
	<button>Login</button>
	<h2>Cluck your heart out!</h2>
	<p>Tell your world what you think!</p>
	<ul>
		<li>Tell your friends what you are doing today<li><li>Share your dessert from your dinner date<li>
	</ul>
	