<html> 
	<body>

<div class="slogan">
	<p>Tell your world what you think</p>
	</div>
<div class="description">
	<p>Connect with friends and family in real time. Keep your whole world updated within seconds and stay in the know.</p>
	</div>
	