<html>
	<body>
		<center><h3>In the Media</h3></center>
		<video id="vidz" src="http://whenwasthelasttimeyoudidsomethingforthefirsttime.eastpak.com/_/videos/eastpak-08.webm" preload="auto" loop="loop" style="position: absolute; z-index: 0; top: -100.5px; left: 0px; min-width: 0px; min-height: 0px; width: 1366px; height: auto;"></video>