<html>
	<body>
		<div class="Signup"
			<h1>Sign up today and get Clucking!</h1>
			</div>

		<p>First Name<input></input>
		<p>Last Name<input></input>
		<p>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input></input>
		<p>Username &nbsp;<input></input>
		<p>Password &nbsp;<input></input></p>
