<html>
	<body>			
			<body background="http://brettjessica.com/blog/wp-content/uploads/2013/08/lauren-vaughan-raleigh-5.jpg">

		<div class="Signup">
			<h1>Sign up today and get Clucking!</h1>
			</div>

		<div id="SignupForm">
			<p>First Name<input></input>
			<p>Last Name<input></input>
			<p>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input></input>
			<p>Username &nbsp;<input></input>
			<p>Password &nbsp;<input></input></p>
			<input type="button" value="Sign Up"/>
		</div>