
.login_button {display: inline-block; float: right;}
.menu_item {display: inline-block;}
.logo {display: inline-block; font-family: 'Indie_Flower', cursive; font-weight: 400; font-size: 200%; color: blue;}
.header{background: white; opacity: .8; width: 100%; display: inline-block;}

body{background-image: url(http://www.washingtonpost.com/blogs/going-out-guide/files/2013/05/HillCountryBackyardBBQ-005.jpg); 

}



h3 {
	float:center;}

.slogan {
	color: white;
	font-size: 300%;
	font-family: 'Indie_Flower', cursive; font-weight: 400;
}

.description {
	color: white;
	font-size: 200%;
	font-family: 'Indie_Flower', cursive; font-weight: 400;
}
// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
