
.login_button {
	display: inline-block; 
	float: right;
	border-top: 1px solid #96d1f8;
   	background: #65a9d7;
   	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   	background: -o-linear-gradient(top, #3e779d, #65a9d7);
   	padding: 7px 14px;
   	-webkit-border-radius: 15px;
   	-moz-border-radius: 15px;
   	border-radius: 15px;
   	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   	box-shadow: rgba(0,0,0,1) 0 1px 0;
   	text-shadow: rgba(0,0,0,.4) 0 1px 0;
   	color: white;
   	font-size: 16px;
   	font-family: Helvetica, Arial, Sans-Serif;
   	text-decoration: none;
   	vertical-align: middle;
}

.menu_item {
	display: inline-block;
	color: white;
}

.header{
	background: white; 
	opacity: .8; 
	width: 100%; 
	display: inline-block;}



h3 {
	float:center;}

.slogan {
	color: white;
	font-size: 300%;
	font-family: 'Open Sans Condensed', sans-serif;
	text-shadow: 4px 4px 4px rgba(149, 150, 150, 1);
	text-align: center;
}

.description {
	color: white;
	font-size: 200%;
	font-family: 'Open Sans Condensed', sans-serif;
	position: fixed;
	width: 500px;
	padding: 30px;
	margin: 10px;
	top:60%;
	left: 50%;
	margin-top:-50px;
	margin-left:-260px;
	background: blue;
	opacity: .6;
}

.Signup {
	color: white;
	font-size: 200%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 400;
	text-shadow: 4px 4px 4px rgba(149, 150, 150, 1);
	text-align: center;
}

.index_background{
	opacity:.7;
}

.login{
	text-align: center;
	position: fixed;
	width: 200px;
	padding: 5px;
	margin: 5px;
	top:35%;
	left: 50%;
	margin-top:-40px;
	margin-left:-100px;
	background: blue;
	opacity: .7;
}

.about_welcome{
	color: #0099FF;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 400;
}

.about_tagline{
	color: #0099FF;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 400;
}


.social_media_image{
	text-align: center;

}

.login{
	color: white;

}


#SignupForm {
	background:white;
	color: gray;
	font-family: 'Open Sans Condensed', sans-serif;
	opacity: .8;
	width: 300px;
	position: fixed;
	top:35%;
	left: 50%;
	margin-top:-40px;
	margin-left:-100px;
}

// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
