<!DOCTYPE html>
<html>
<head>
  <title>Clucker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><a href="localhost:3000">Clucker</h1></a> <center><h3><menu><a href="/main/about">About</a> <a href="/main/signup">Sign Up</a> <a href="/main/media">Media</a> <a href="/main/contact"> Contact</a> <a href="/main/cluckit">Cluck It</a></menu></h3></center>

<%= yield %>

</body>
</html>
